<ion-grid>
  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let post of posts">
      <app-post [post]="post">{{post.image}}</app-post>
    </ion-col>
  </ion-row>
</ion-grid>