.post {
  margin-top: 10px;

  -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
}

.image-slide {
  width: 100%;
  height: 250px;

  // background-color: red;

  /* Full height */
   //height: 100%;

  /* Imagen centrada y colocada de forma elegante */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// .img{
//   width: 100%;
//   height: 100%;

//   // background-color: red;

//   /* Full height */
//    //height: 100%;

//   /* Imagen centrada y colocada de forma elegante */
//   // background-position: center;
//   // background-repeat: no-repeat;
//   // background-size: cover;
// }
