<div class="post">
  <ion-item lines="none">
    <ion-avatar item-left>
      <img src="http://localhost:3700/api/get-user-avatar/{{post.img[0]}}" />
    </ion-avatar>
    <ion-label>
      <h3>{{post.usuario.nombre}}</h3>
      <h5>{{post.usuario.email}}</h5>
    </ion-label>
  </ion-item>

  <!-- <ion-slides pager>
    <ion-slide class="image-slide">
      <img src="http://localhost:3700/api/get-user-avatar/{{post.img[0]}}" style="width: 350%; height:100%" />

    </ion-slide>
    <ion-slide class="image-slide" style="background-image:url('/assets/perro-2.jpg') ;"> </ion-slide>
    <ion-slide class="image-slide" style="background-image:url('/assets/perro-3.jpg') ;"></ion-slide>
  </ion-slides> -->

  <!-- mapa -->


  <app-mapa [coords]="post.coords" *ngIf="post.coords"></app-mapa>


  <ion-item lines="none">
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-icon name="bookmark" slot="end"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label text-wrap>
      {{post.mensaje}}
    </ion-label>
  </ion-item>
</div>